* {
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-size:1rem;
}

html {
	font-size:62.5%;
}

#menu{
	display: flex;
	justify-content: space-around;
	background-color: #FAFAFA;
	background-size: cover;
	padding-top: 2%;
	padding-bottom: 2%;
}
a{
	text-decoration: none;
	color: #B660CD;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 30px;
}